<div id="">
   <section id="topbar" class="d-none d-lg-block">
      <div class="container clearfix">
         <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:maheshoawar0610@gmail.com">maheshoawar0610@gmail.com</a>
            <i class="fa fa-phone"></i> +91 91463 51221
         </div>
         <div class="social-links float-right">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
               <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
         </div>
      </div>
   </section>
   <!--==========================
      Header
      ============================-->
   <header id="header">
      <div class="container">
         <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto">Aadesh<span>Star</span>Way</a></h1>
            <!-- <img src="asset-design/img/logo/Abhay Logo New.png" alt=""> -->
         </div>
         <nav id="nav-menu-container">
            <ul class="nav-menu">
               
               <li><a href="" ng-click="desktop()">Desktop</a></li>
               <li><a href="" ng-click="logout()">Logout</a></li>
            </ul>
         </nav>
         <!-- #nav-menu-container -->
      </div>
   </header>
   <!-- #header -->
   
   <main id="main">
   <section id="" class="wow fadeInUp">
         <div class="container">
	<div class="row">
		<h1 class="page-header">
			<i class="fa fa-users" style="color:#337ab7;"></i>&nbsp; Manage ePin Request
			
		</h1>
	</div>
	
	<div class="panel panel-info" ng-if="tenantsData.length==0">
   		<div class="panel-heading"> ePin Requests </div>
   		<div class="panel-body">
   			<div class="row text-center">
   				<br>
   				<h4><label>There are no ePin Requests</label></h4>
   				<br>
   			</div>
   		</div>
   	</div>
   	
   	<div style="width: 100%;" ng-if="tenantsData.length>0">
		<table id ="manageTenantDataTable" datatable="ng" class="table table-bordered table-striped" >
			<thead>
				<tr>
					<th style="width:30%;text-align:center;">Name</th>
					<th style="width:10%;text-align:center;">Phone</th>
					<th style="width:15%;text-align:center;">ePin</th>
					<th style="width:15%;text-align:center;">Status</th>
					<th style="width:30%;text-align:center;">Edit</i>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tenant in tenantsData track by $index" class="item">
					<td style="text-align:center;">{{tenant.tenantFirstName}} {{tenant.tenantLastName}}</td>
					<td style="text-align:center;">{{tenant.tenantPhone}}</td>
					<td style="text-align:center;">{{tenant.tenantEmail}}</td><!--  -->
					<td style="text-align:center;color:green;" ng-if="tenant.tenantStatus=='1'">Enabled</td>
					<td style="text-align:center;color:red;" ng-if="tenant.tenantStatus=='0'">Disabled</td>
					<td style="text-align:center;">
						<button class="btn btn-danger btn-xs" type="button" ng-if="tenant.tenantStatus=='1'" ng-Click="onDisable(tenant)">
							<i class="fa fa-ban"></i>&nbsp;
							Disable
						</button>
						<button class="btn btn-success btn-xs" type="button" ng-if="tenant.tenantStatus=='0'" ng-Click="onEnable(tenant)">
							<i class="fa fa-check-circle-o"></i>&nbsp;
							Enable
						</button>
						
						<button class="btn btn-danger btn-xs" type="button" ng-click="onReset(tenant)">
							<i class="fa fa-refresh"></i>&nbsp;
							Reset admin Password
						</button>
					</td>
				</tr>
			</tbody>
		</table> 
	</div>
    </div>
    </section>
   </main>
   <a href="" ng-click="scrollTo('body')" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>