<div id="body">
   <section id="topbar" class="d-none d-lg-block">
      <div class="container clearfix">
         <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:maheshoawar0610@gmail.com">maheshoawar0610@gmail.com</a>
            <i class="fa fa-phone"></i> +91 91463 51221
         </div>
         <div class="social-links float-right">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
               <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
         </div>
      </div>
   </section>
   <!--==========================
      Header
      ============================-->
   <header id="header">
      <div class="container">
         <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto">Aadesh<span>Star</span>Way</a></h1>
            <!-- <img src="asset-design/img/logo/Abhay Logo New.png" alt=""> -->
         </div>
         <nav id="nav-menu-container">
            <ul class="nav-menu">
               <li class="menu-active"><a href="#body">Home</a></li>
               <li><a href="" ng-click="scrollTo('about')">About Us</a></li>
               <li><a href="" ng-click="scrollTo('portfolio')">Product</a></li>
               <!-- <li><a href=""></a></li> -->
               <li class="menu-has-children">
                  <a ui-sref="gallery">Gallery</a>
                  <!-- <ul>
                     <li><a ui-sref="gallery">Photo Gallery</a></li>
                     <li><a ui-sref="gallery">Viedo Gallery</a></li>
                  </ul> -->
               </li>
               <li><a href="" ng-click="scrollTo('contact')">Enquiry</a></li>
               <li><a href="" ng-click="scrollTo('call-to-action')">Contact</a></li>
               <li><a ui-sref="login">Login</a></li>
            </ul>
         </nav>
         <!-- #nav-menu-container -->
      </div>
   </header>
   <!-- #header -->
   <!--==========================
      Intro Section
      ============================-->
   <section id="intro">
      <div id="intro-carousel" class="owl-carousel" >
         <div class="item" style="background-image: url('asset-design/img/intro-carousel/1.jpg');"></div>
         <div class="item" style="background-image: url('asset-design/img/intro-carousel/2.jpg');"></div>
         <div class="item" style="background-image: url('asset-design/img/intro-carousel/3.jpg');"></div>
         <div class="item" style="background-image: url('asset-design/img/intro-carousel/4.jpg');"></div>
         <div class="item" style="background-image: url('asset-design/img/intro-carousel/5.jpg');"></div>
      </div>
   </section>
   
   <section>
   		<div style="color: #50d8af;text-align: center;">
        	<h2>"सुंदर <span style="color: #FF6401">भविष्याकडे</span> एक पाऊल !"</h2>
        </div>
   </section>
   
   <!-- #intro -->
   <main id="main">
      <!--==========================
         About Section
         ============================-->
      <section id="about" class="wow fadeInUp">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 about-img">
                  <img src="asset-design/img/about-img.jpg" alt="">
               </div>
               <div class="col-lg-6 content">
                  <h2>
                     "We value our people, encourage their development & reward their performance"
                  </h2>
                  <ul>
                     Aadesh Star Way Pvt Ltd belives that work should be rewarded. 
                     Our marketing plan rewards you for plan our service and trainig sales team. 
                     We have a infinite opportunity to make your dreams fulfil. 
                     We invite you to join Aadesh Star Way Pvt Ltd family for successfull life.
                  </ul>
                  <div class="intro-content">
                     <div>
                        <a ui-sref="about" class="btn-get-started scrollto">Read more</a>
                     </div>
                  </div>
                  <!-- <ul>
                     Aadesh Star Way Pvt Ltd is an professional direct selling plan base marketing company in India. 
                     We provide unmatched career opportunity to every citizen living in India. 
                     We help to redefine living lifestyle with wonderful earning opportunity. 
                     We deliver and always focus to provide world class quality service to our customers.
                     </ul> -->
               </div>
            </div>
         </div>
      </section>
      <!-- #about -->
      <!--==========================
         Services Section
         ============================-->
      <section id="services">
         <div class="container">
            <div class="section-header">
               <h2>Our Values</h2>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <div class="box wow fadeInLeft">
                     <div class="icon"><i class="fa fa-eye"></i></div>
                     <h4 class="title"><a href="">Our Vision</a></h4>
                     <p class="description">
                        Our goal is to take Aadesh Star Way at the new height of success. So, every individual can enjoy his life in all aspect by associating with us. Our efforts will be in the direction of creating association of honest. Hardworking, Passionate like minded people to contribute in the growth of the nation.
                     </p>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="box wow fadeInRight">
                     <div class="icon"><i class="fa fa-rocket"></i></div>
                     <h4 class="title"><a href="">Our Mission</a></h4>
                     <p class="description">
                        To create healthier and secure society, Aadesh Star Way Pvt Ltd will keep on bringing required products in sector of inner & outer nutrition, secure things along with earning opportunity for all.
                     </p>
                     <p> &nbsp;</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- #services -->
      <!--==========================
         Our Portfolio Section
         ============================-->
      <section id="portfolio" class="wow fadeInUp">
         <div class="container">
            <div class="section-header">
               <h2>Our Products</h2>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row no-gutters">
               <div class="col-lg-3 col-md-4">
                  <div class="portfolio-item wow fadeInUp">
                     <a href="asset-design/img/portfolio/product1.jpg" class="portfolio-popup">
                        <img src="asset-design/img/portfolio/product1.jpg" alt="">
                        <div class="portfolio-overlay">
                           <!-- <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div> -->
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4">
                  <div class="portfolio-item wow fadeInUp">
                     <a href="asset-design/img/portfolio/product2.jpg" class="portfolio-popup">
                        <img src="asset-design/img/portfolio/product2.jpg" alt="">
                        <div class="portfolio-overlay">
                           <!-- <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 2</h2></div> -->
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4">
                  <div class="portfolio-item wow fadeInUp">
                     <a href="asset-design/img/portfolio/product3.jpg" class="portfolio-popup">
                        <img src="asset-design/img/portfolio/product3.jpg" alt="">
                        <div class="portfolio-overlay">
                           <!-- <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 3</h2></div> -->
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4">
                  <div class="portfolio-item wow fadeInUp">
                     <a href="asset-design/img/portfolio/product4.jpg" class="portfolio-popup">
                        <img src="asset-design/img/portfolio/product4.jpg" alt="">
                        <div class="portfolio-overlay">
                           <!-- <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 4</h2></div> -->
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- #portfolio -->
      <!--==========================
         Testimonials Section
         ============================-->
      <section id="testimonials" class="wow fadeInUp">
         <div class="container">
            <div class="section-header">
               <h2>Business Plan</h2>
               <h3>Company Single Leg Income Plane Package Rs:200/-</h3>
            </div>
            <div style="width: 100%;">
		<table id ="manageTenantDataTable"  class="table table-bordered table-striped" style="border: 3px solid;">
			<thead>
				<tr style="background: gold;">
					<th style="width:10%;text-align:center;border: 3px solid;">Stage</th>
					<th style="width:35%;text-align:center;border: 3px solid;">All Over Company Required Ids</th>
					<th style="width:35%;text-align:center;border: 3px solid;">Commission growth Income</th>
					<th style="width:20%;text-align:center;border: 3px solid;">Direct Sponsor Id</th>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="plan in planData track by $index" class="item">
					<td style="text-align:center;">{{plan.stage}}</td>
					<td style="text-align:center;">{{plan.required}}</td>
					<td style="text-align:center;">{{plan.growth}}</td>
					<td style="text-align:center;">{{plan.sponsor}}</td>
				</tr>
				<tr style="background: gold;">
					<th style="text-align:center;border: 3px solid;">Total</th>
					<th style="text-align:center;border: 3px solid;">327670</th>
					<th style="text-align:center;border: 3px solid;">21050</th>
					<th style="text-align:center;border: 3px solid;">10</th>
				</tr>
			</tbody>
		</table> 
	</div>
         </div>
      </section>
      <!-- #testimonials -->
      <section id="contact" class="wow fadeInUp">
         <div class="container">
            <div class="section-header">
               <h2>Enquiry</h2>
            </div>
            <div class="form">
               <div id="sendmessage">Your message has been sent. Thank you!</div>
               <div id="errormessage"></div>
               <form action="" method="post" role="form" class="contactForm">
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                     </div>
                     <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                     </div>
                  </div>
                  <div class="form-group col-md-12">
                     <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                     <div class="validation"></div>
                  </div>
                  <div class="form-group col-md-12">
                     <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                     <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
               </form>
            </div>
         </div>
      </section>
      <!-- #contact -->
      <section id="call-to-action"  class="wow fadeInUp">
         <div class="container cta-text">
            <div class="section-header">
               <h2 class="cta-text">Contact Us</h2>
            </div>
            <div class="row contact-info">
               <div class="col-md-4">
                  <div class="contact-address">
                     <!-- <i class="ion-ios-location-outline"></i> -->
                     <h3>Address</h3>
                     <address>Ashatvinayak Nagar, Tardobachiwadi 412210</address>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="contact-phone">
                     <!-- <i class="ion-ios-telephone-outline"></i> -->
                     <h3>Phone Number</h3>
                     <p><a href="tel:+155895548855">+91 91463 51221</a></p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="contact-email">
                     <!-- <i class="ion-ios-email-outline"></i> -->
                     <h3>Email</h3>
                     <p><a href="maheshoawar0610@gmail.com">maheshoawar0610@gmail.com</a></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
   <a href="" ng-click="scrollTo('body')" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>