<!--==========================
   Top Bar
   ============================-->
<section id="topbar" class="d-none d-lg-block">
   <div class="container clearfix">
      <div class="contact-info float-left">
         <i class="fa fa-envelope-o"></i> <a href="mailto:maheshoawar0610@gmail.com">maheshoawar0610@gmail.com</a>
         <i class="fa fa-phone"></i> +91 91463 51221
      </div>
      <div class="social-links float-right">
         <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
         <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
         <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
         <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
      </div>
   </div>
</section>
<!--==========================
   Header
   ============================-->
<header id="header">
   <div class="container">
      <div id="logo" class="pull-left">
         <h1><a href="#body" class="scrollto">Aadesh<span>Star</span>Way</a></h1>
      </div>
      <nav id="nav-menu-container">
         <ul class="nav-menu">
            <li><a ui-sref="main">Home</a></li>
            <li class="menu-active"><a href="">About Us</a></li>
            <li><a ui-sref="product">Product</a></li>
            <li class="menu-has-children">
               <a ui-sref="gallery">Gallery</a>
               <!-- <ul>
                  <li><a ui-sref="gallery">Photo Gallery</a></li>
                  <li><a ui-sref="gallery">Viedo Gallery</a></li>
               </ul> -->
            </li>
            <li><a ui-sref="enquiry">Enquiry</a></li>
            <li><a href="" ng-click="scrollTo('call-to-action')">Contact</a></li>
            <li><a ui-sref="login">Login</a></li>
         </ul>
      </nav>
      <!-- #nav-menu-container -->
   </div>
</header>
<!-- #header -->
<!--==========================
   Intro Section
   ============================-->
<main id="main">
   <!--==========================
      About Section
      ============================-->
   <section id="about" class="wow fadeInUp">
      <div class="container">
         <div class="section-header">
            <h2>About Us</h2>
         </div>
         <div class="row">
            <div class="col-lg-6 about-img">
               <img src="asset-design/img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-6 content">
               <h2>
                  "We value our people, encourage their development & reward their performance"
               </h2>
               <ul>
                  Aadesh Star Way Pvt Ltd belives that work should be rewarded. 
                  Our marketing plan rewards you for plan our service and trainig sales team. 
                  We have a infinite opportunity to make your dreams fulfil. 
                  We invite you to join Aadesh Star Way Pvt Ltd family for successfull life.
               </ul>
               <ul>
                  Aadesh Star Way Pvt Ltd is an professional direct selling plan base marketing company in India. 
                  We provide unmatched career opportunity to every citizen living in India. 
                  We help to redefine living lifestyle with wonderful earning opportunity. 
                  We deliver and always focus to provide world class quality service to our customers.
               </ul>
            </div>
         </div>
      </div>
   </section>
   <!-- #about -->
   <!--==========================
      Services Section
      ============================-->
   <section id="services">
      <div class="container">
         <div class="section-header">
            <h2>Our Values</h2>
         </div>
         <div class="row">
            <div class="col-lg-6">
               <div class="box wow fadeInLeft">
                  <div class="icon"><i class="fa fa-eye"></i></div>
                  <h4 class="title"><a href="">Our Vision</a></h4>
                  <p class="description">
                     Our goal is to take Aadesh Star Way at the new height of success. So, every individual can enjoy his life in all aspect by associating with us. Our efforts will be in the direction of creating association of honest. Hardworking, Passionate like minded people to contribute in the growth of the nation.
                  </p>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="box wow fadeInRight">
                  <div class="icon"><i class="fa fa-rocket"></i></div>
                  <h4 class="title"><a href="">Our Mission</a></h4>
                  <p class="description">
                     To create healthier and secure society, Aadesh Star Way Pvt Ltd will keep on bringing required products in sector of inner & outer nutrition, secure things along with earning opportunity for all.
                  </p>
                  <p> &nbsp;</p>
                  <p> &nbsp;</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- #services -->
   <section id="call-to-action"  class="wow fadeInUp">
      <div class="container cta-text">
         <div class="section-header">
            <h2 class="cta-text">Contact Us</h2>
         </div>
         <div class="row contact-info">
            <div class="col-md-4">
               <div class="contact-address">
                  <!-- <i class="ion-ios-location-outline"></i> -->
                  <h3>Address</h3>
                  <address>Ashatvinayak Nagar, Tardobachiwadi 412210</address>
               </div>
            </div>
            <div class="col-md-4">
               <div class="contact-phone">
                  <!-- <i class="ion-ios-telephone-outline"></i> -->
                  <h3>Phone Number</h3>
                  <p><a href="tel:+155895548855">+91 91463 51221</a></p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="contact-email">
                  <!-- <i class="ion-ios-email-outline"></i> -->
                  <h3>Email</h3>
                  <p><a href="maheshoawar0610@gmail.com">maheshoawar0610@gmail.com</a></p>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
<a href="" ng-click="scrollTo('body')" class="back-to-top"><i class="fa fa-chevron-up"></i></a>