<div id="">
   <section id="topbar" class="d-none d-lg-block">
      <div class="container clearfix">
         <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:maheshoawar0610@gmail.com">maheshoawar0610@gmail.com</a>
            <i class="fa fa-phone"></i> +91 91463 51221
         </div>
         <div class="social-links float-right">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
               <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
         </div>
      </div>
   </section>
   <!--==========================
      Header
      ============================-->
   <header id="header">
      <div class="container">
         <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto">Aadesh<span>Star</span>Way</a></h1>
            <!-- <img src="asset-design/img/logo/Abhay Logo New.png" alt=""> -->
         </div>
         <nav id="nav-menu-container">
            <ul class="nav-menu">
               
               <li><a href="" ng-click="">Desktop</a></li>
               <li><a href="" ng-click="logout()">Logout</a></li>
            </ul>
         </nav>
         <!-- #nav-menu-container -->
      </div>
   </header>
   <!-- #header -->
   
   <main id="main">
      <!--==========================
         Login Section
         ============================-->
      <section id="about" class="wow fadeInUp">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
               		<div class="row">
               			<div id="myinfopanel">
               				<div class="panel-heading-info">
               					Welcome Member
               				</div>
               				<div class="panel-body-info">
               					<table class="mytable">
               						<tr>
               							<th style="text-align: -webkit-right;">Name : </th>
               							<td style="text-align: -webkit-left;">Super User</td>
               						</tr>
               						<tr>
               							<th style="text-align: -webkit-right;">User ID : </th>
               							<td style="text-align: -webkit-left;">Super User</td>
               						</tr>
               						<tr>
               							<th style="text-align: -webkit-right;">Joining Date : </th>
               							<td style="text-align: -webkit-left;">Super User</td>
               						</tr>
               						<tr>
               							<th style="text-align: -webkit-right;">Mobile No : </th>
               							<td style="text-align: -webkit-left;">Super User</td>
               						</tr>
               						<tr>
               							<th style="text-align: -webkit-right;">Email : </th>
               							<td style="text-align: -webkit-left;">Super User</td>
               						</tr>
               						<tr>
               							<th style="text-align: -webkit-right;">Total Income : </th>
               							<td style="text-align: -webkit-left;"></td>
               						</tr>
               						<tr>
               							<th style="text-align: -webkit-right;">Paid Amount : </th>
               							<td style="text-align: -webkit-left;"></td>
               						</tr>
               					</table>
               				</div>
               			</div>
               		</div>
               		
               		<div class="row">
               			<div id="myinfopanel">
               				<div class="panel-heading-info">
               					Greeting Message
               				</div>
               				<div class="panel-body-info">
               					<p>
               						Axasc kn sdaj asf askjacs as askjcas kandksjaxn
               					</p>
               				</div>
               			</div>
               		</div>
               </div>
               
               <div class="col-md-6">
               		<div class="row">
               			<div id="myinfopanel">
               				<div class="panel-heading-info">
               					Profile Master
               				</div>
               				<div class="panel-body-info">
               					
               				</div>
               			</div>
               		</div>
               		
               		<div class="row">
               			<div id="myinfopanel">
               				<div class="panel-heading-info">
               					Documents
               				</div>
               				<div class="panel-body-info">
               					
               				</div>
               			</div>
               		</div>
               		
               		<div class="row">
               			<div id="myinfopanel">
               				<div class="panel-heading-info">
               					ePins Master
               				</div>
               				<div class="panel-body-info">
               					<a href="#" ng-click="pinRequest()">ePin Request</a>		
               				</div>
               				<div class="panel-body-info">
               					<a href="#" ng-click="managePinRequest()">Manage ePin Request</a>		
               				</div>
               			</div>
               		</div>
               		
               		
               </div>
               
            </div>
         </div>
      </section>
      <!-- #Login -->
      
   </main>
   <a href="" ng-click="scrollTo('body')" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>